body {
    background-color: lightblue;
    width: 800px;
    margin: 0 auto;
}

header {
    font-size: 48px;
    text-align: center;
    padding: 24px;
    margin: 24px;
    font-weight: bold;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    border: 12px white solid;
    border-radius: 10px;
}

p {
    font-size: 24px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}


button {
    font-size: 16px;
    color: purple;
    border: 10px black;
    padding: 10px;
    margin: 10px;
    background-color: white;
    text-align: center;
}


div {
    font-size: 24px;
}

.options {
    text-align: center;
}

#flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}